SERVER_ADDR=:8080
TODO_STORE=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=todo_playground
POSTGRES_USER=todo_user
POSTGRES_PASSWORD=replace-with-a-local-secret
POSTGRES_SSLMODE=disable
